.modal-container {
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  width: 750px;
  display: flex;
  align-items: stretch;
  height: 510px;
  margin: auto;
}

.login-left-part {
  width: 25rem;
  flex: 1;
  height: 100%;
  background: url(https://cdn.zeptonow.com/mweb-prod/_next/static/media/bg-login.32d6e9e5.svg)
    top 15% left/cover no-repeat;
  word-break: break-all;
}

.subleftpart {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem 2rem;
  word-break: keep-all;
}

.subleftpart p:first-of-type {
  color: white;
  font-size: 30px;
}

.input-container {
  position: relative;
}

.input-container input {
  border: none;
  outline: none;
  font-size: 16px;
  /* margin: auto; */
  padding: 0.7rem 5rem;
  border-radius: 20px;
}

.input-container span {
  position: absolute;
  top: 5px;
  left: 10px;
  border-right: 0px solid grey;
}

.subleftpart button {
  color: white;
  margin: 20px 0;
  font-size: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  /* margin: auto; */
  padding: 0.7rem 9rem;
  border-radius: 20px;
  background: linear-gradient(92.16deg, #ff3269 1.82%, #ff794d 98.18%);
}

button:disabled{
  background:linear-gradient(92.16deg, #ff3269 1.82%, #ff794d 98.18%);
  opacity: 0.5;
}

.subleftpart p:nth-of-type(2) {
  color: white;
  text-align: center;
}

.subleftpart p:nth-of-type(3) {
  color: crimson;
  text-align: center;
}

.privacy span {
  color: #fff;
  font-weight: bold;
}

.login-right-part {
  flex: 1;
  width: 6rem;
  height: 100%;
  background: url(https://cdn.zeptonow.com/mweb-prod/_next/static/media/bg-desktop.7efcec3a.png)
    0 0 / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

.subrightpart p:nth-of-type(1) {
  color: rgba(76, 21, 119, 1);
  font-size: 38px;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
}

.subrightpart p:nth-of-type(2) {
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem;
  color: rgba(107, 114, 128, 1);
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
